body {
    background-color: black;
}


.img-container img {
    width: 55px;
    height: 60px;
    border-radius: 50px;
}

p {
    color: white;
}

.email {
    font-weight: 100;
    font-size: x-small;
}

h2 {
    color: white;
}

.wrapper {
    background-color: blue;
    align-content: center;
    margin: 15% auto;
    display: block;
    padding: 25px;
    width: 50%;
    height: 50%
}

button {
    color: blue;
    border-radius: 30px;
    border: none;
    padding: 8px 15px;
    width: auto;
}