body {
    background-color: #000000;
    align-content: center;
}

.wrapper {
    width: 30%;
    background-color: aqua;
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 70px;
    padding-bottom: 25px;
    margin-top: -100px;
    margin-left: 50px;
    margin-right: 20px;
}

.img-container img {
    width: 300px;
    height: 320px;
    border-radius: 50%;
    padding: 30px 30px;
    z-index: 100;
    margin-left:70px;
}

.text {
    font-size: larger;
    font-weight: 600;
}

.button {
    background-color: white;
    padding: 8px 10px;
    border-radius: 10px;
    margin: 15px;
    width: 60px;
}



.button2 {
    background-color: white;
    padding: 8px 10px;
    border-radius: 10px;
    margin: 15px;
    width: 50px;
    justify-content: center;
}

.main {
    display: flex;
}